.rank {
  background-color: #ffffff;
  width: 100%;
  height: 97%;

  /* margin : 10px; */
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
}

.rank-table {
  margin-left: 2%;
  margin-right: 2%;
  overflow-y: scroll;
  height: 80%;
  font-size: large;
}
.rank-row {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 5%;
}
.rank-row-gray {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;

  height: 5%;
}
.rank-row-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  height: 5%;
}

.rank-cell {
  flex: 1;
  /* cursor: pointer; */
  text-align: center;
  height: 5%;
}
