.nav {
  background-color: #292d39;
  color: #efefef;
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
}

.logo {
  width: 7vw;
  margin: 12px;
}
.blank {
  display: flex;
  flex-direction: row-reverse;
  width: 73vw;
}

.ranking {
  padding: 10%;
  font-size: 3.3rem;
}

.myPage {
  width: 75px;
  margin: 10px 25px;
  border: solid 1px white;
  border-radius: 50%;
  overflow: hidden;
}

.logout {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
}
