.nav {
  background-color: #292d39;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}

#logo {
  margin-top: 0.5rem;
  margin-left: 1rem;
  flex: 1;
  height: 75%;
}

#blank {
  flex: 5;
}

#ranking {
  margin-top: 0.5rem;
  margin-right: 1rem;
  flex: 1;
  height: 75%;
  filter: invert(100%);
}

#avatar {
  overflow: hidden;
}
#avatar-image {
  margin-top: 0.5rem;
  margin-right: 1rem;
  flex: 1;
  height: 80%;
  border: solid 1px white;
  border-radius: 50%;
}

#logout {
  margin-top: 0.5rem;
  margin-right: 1rem;
  flex: 1;
  height: 75%;
  filter: invert(100%);
  cursor: pointer;
  align-items: flex-end;
}
