.side {
  background-color: rgb(255, 255, 255);
  border: 1px #00babc solid;
  box-sizing: border-box;
  float: right;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  height: 91vh;
  width: 30vh;
}

.userContainer {
  height: 45%;
  border: 1px #00babc solid;
}

.userTitle {
  background-color: #00babc;
  height: auto;
  padding: 3%;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.users {
  height: 87%;
  border: 1px #00babc solid;
  overflow-y: scroll;
  position: sticky;
}

.userlist-row {
  height: 2rem;
  border: 1px grey solid;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 55%;
}
.chatList {
  height: 100%;
}

.chatTiTle {
  background-color: #00babc;
  height: auto;
  padding: 3%;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 84%;
  overflow-y: scroll;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
}

.messageList {
  height: auto;
  margin: 0.2rem 0;
  font-size: 1.2rem;
}

.directMessage {
  height: auto;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  color: purple;
}

.message {
  height: 1.4rem;
  width: 14.8rem;
  border: 1px #00babc solid;
  font-size: 1rem;
  font-weight: 400;
}

.button {
  height: 1.7rem;
  width: auto;
}
