.user-info {
  padding: 2%;
  margin: 2%;
  height: 25vh;
  display: flex;
  border: 1px solid black;
  color: black;
}

.user-info-line {
  font-size: large;
  height: 5vh;
}
.user-label {
  font-weight: bold;
  width: 100%;
}

#user-info-left {
  flex: 2;
  text-align: center;
  padding: 1%;
  overflow: hidden;
}
#user-info-right {
  flex: 5;
  text-align: left;
}

#user-avatar {
  height: 80%;
  object-fit: cover;
}
.userChangeButton {
  all: none;
  height: 2rem;
  font-size: 1rem;
  background-color: #00babc;
  color: white;
}
