.secondAuthTitle {
  color: white;
  font-size: 2rem;
}
.submitFrame {
  display: flex;
  width: 30vw;
  margin: 2%;
  font-size: 1.5rem;
}
.submitLabel {
  color: white;
  flex: 1;
}
.submitInput {
  flex: 3;
  font-size: 1.2rem;
}
.submitButton {
  flex: 1;
  all: none;
  background-color: #00babc;
  color: white;
  font-size: 1.2rem;
  margin-left: 2%;
}

.secondAuthInfo{
  color: white;
  font-size: 1.2rem;
}