.game-area {
  background-color: white;
  width: 95%;
}

.player-game-area {
  display: flex;
  align-items: center;
  height: 55vh;
  width: 75vw;
}
.game-setting-area {
  height: 8vh;
  text-align: right;
}

.player {
  color: black;
  flex: 1;
  text-align: center;
}
.player-name {
  font-weight: bold;
}

.game-content {
  flex: 5;
  height: 100%;
  text-align: right;
}

.game-setting {
  all: none;

  height: 2rem;
  margin: 1rem;
  font-size: 1rem;
  background-color: #00babc;
  color: white;
}

canvas {
  position: absolute;
  top: 20%;
  left: 15%;
  height: 50%;
  width: 50%;
}
#background-layer {
  z-index: 1;
}
#game-layer {
  z-index: 2;
}
