.game-area {
  background-color: white;
  width: 80vw;
}

.player-game-area {
  display: flex;
  align-items: center;
  height: 55vh;
  width: 80vw;
}
.game-setting-area {
  width: 75vw;
  text-align: right;
}

.player {
  color: black;
  flex: 1;
  text-align: center;
}
.player-name {
  font-weight: bold;
}

.game-content {
  flex: 5;
  height: 100%;
  text-align: center;
}

.game-setting {
  all: unset;
  height: 30%;
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  background-color: #00babc;
  color: white;
}

canvas {
  position: absolute;
  top: 17%;
  left: 16%;
  width: 50vw;
  height: 50vh;
}
#background-layer {
  z-index: 1;
}
#game-layer {
  z-index: 2;
}

#ping-message {
  position: absolute;
  top: 70%;
  left: 35%;
}
#guide-message {
  position: absolute;
  top: 75%;
  text-align: left;
  color: black;
}
